<h1>Welcome!</h1>
<p>Today is <%= data_us(Date.today)%> </p>
<p>Hello Isaac!</p>

<ul>
  <li>
    <%= link_to "Coins", coins_path %>
  </li>
  <li>
    <%= link_to "Mining types", mining_types_path %>
  </li>
</ul>